<div class="siz">
    <div class="bg-white row shadow-sm trans">
      <div class="col-md-12 mb-3 margin-l2 margin-t">
        <h4>Volver a aplicaciones Coppel</h4>
      </div>
      <!-- <div class="col-md-1 margin-ln mt-1 margin-t">
        <button
          type="button"
          class="btn-close margin-t"
          data-bs-dismiss="alert"
          aria-label="Close"
          (click)="atrPagina()"
        ></button>
      </div> -->
      <hr class="divider" />
      <div class="col-md-12 mb-3 margin-l2">
        <h6 class="black2">
          ¿Estás seguro de que quieres salir de Bitácora?
        </h6>
        <br>
      </div>
      <hr class="divider" />
      <div class="col-mb-12 margin-lb margin-b10">
        <button
          class="btn btn-primary shadows buscar margin-x margin-l"
          (click)="atrPagina()"
        >
          <h6 class="centro">No</h6>
        </button>
        <button
          class="btn btn-primary primary shadows margin-xr h-44"
          (click)="adelPagina()"
        >
          <h6 class="centro">Sí, salir</h6>
        </button>
      </div>
    </div>
  </div>
