.primary{
    background-color: white;
    color: #0062ae;
    border-radius: 15px;
    width: 118.6px;
    height: 40px;
    background: url("/assets/static/Icon material-cloud-download.png") no-repeat;
    background-position: 2rem 0.5rem;
    cursor:pointer;
    text-indent: 2.5rem;
}
.primary:focus{
    background: none;
    background-color: #0062ae;
    color: white;
    text-indent: 0%;
    box-shadow: none;
}

.bod{
    background-color: #f7f8fa;
}
.divider{
    border: solid 1px #dcdcdc;
}

.buscar{
    background-color: white;
    color: #0762ae;
    border: none;
    width: 96px;
    height: 44px;
    border-radius: 15px;
    margin-left: -19px;
    z-index: 3;
}
.buscar:focus{
    color: white;
    background-color: #0762ae;
}

.caja-texto{
    border-color: #dcdcdc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
    margin-top: 2px;
}

.caja-texto::placeholder{
    text-align: left;
    color: #949494;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.caja-texto::focus{
    outline: none !important;
    box-shadow: 0 0 10px #dcdcdc;
}

.residuo{
    width: 164px;
    height: 40px;
    background-color: #0762ae;
    border-color: #0762ae;
    border-radius: 15px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.12);
}

.text{
    text-align: center;
}

.verde{
    color: #37b230;
}

.gris{
    color: #6a6a6a;
}

.form-check-input:checked {
    background-color: #37b230;
    border-color: #37b230;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-color: white;
    border-width: 100px;
}

.nothing{
    margin-bottom: 100px;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.azul{
    color: #0062af;
}

.white{
    background-color: white;
}
.margin-b{
    margin-bottom: 0;
}
.margin-b2{
    margin-bottom: 100px;
}
.margin-b3{
    margin-bottom: 25px;
}
.margin-l{
    margin-left: 15px;
}
.margin-l2{
    margin-left: 150px;
}
.margin-l3{
    margin-left: 100px;
}
.margin-box{
    margin-top: 10px;
}
.margin-u{
    margin-top: 100px;
}
.margin-u2{
    margin-top: 50px;
}
.carga{
    width: 437px;
    height: 8px;
    margin-top: 176px;
    margin-bottom: 0px;  
}
.textocarga{
    margin-top: 37px;
}
.verde-alert{
    border-radius: 15px;
    color: #2a6014;
    background-color: #ceebc2;
}
.size-box{
    height: 58px;
}
.shadows{
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.075)!important;
}
.shadows:focus{
    box-shadow: none;
}
.ancho{
    width: 30px;
}

::ng-deep.p-paginator{
        border-width: 1px !important;
        padding: 0 !important;
        border-radius: 3px !important;
        background: white;
        border: none;
}

::ng-deep.p-paginator ::ng-deep.p-paginator-pages ::ng-deep.p-paginator-page.p-highlight {
    background: #0062af;
    border-color: #0062af;
    color: #ffffff;
}
