.bod{
    background-color: #f7f8fa;
}
.divider{
    border: solid 1px #dcdcdc;
    margin-bottom: 20px;
}
.nowrap {
    white-space: nowrap;
  }
.img-margin{
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
}
.no-margin{
    margin: 0;
}
.grey{
    color: #6a6a6a
}
.black2{
    color: #1e1e1e;
}
.caja-texto{
    border-color: #dcdcdc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
    resize: none;
}
.margin-l{
    margin-left: 42px;
}
.margin-b{
    margin-bottom: 20px;
}
.margin-b0{
    margin-bottom: 0px;
}
.margin-t{
    margin-top: 24px;
}
.margin-t2{
    margin-top: 50px;
}
.margin-t0{
    margin-top: 0px;
}
.margin-xr{
    margin-left: 10px;
    margin-right: 30px;
}
.margin-x{
    margin-left: 10px;
    margin-right: 5px;
}
.margin-x0{
    margin-left: 0px;
    margin-right: 0px;
}
.padding-x0{
    padding-left: 0px;
    padding-right: 0px;
}
.buscar{
    color: #0762ae;
    border: none;
    border-radius: 15px;
    width: 100px;
}
.buscar2{
    background-color: white;
    color: #0762ae;
    border: none;
    width: 96px;
    height: 44px;
    border-radius: 15px;
    margin-left: -19px;
    z-index: 3;
}
.buscar2:focus{
    color: white;
    background-color: #0762ae;
}
.residuo{
    width: 164px;
    height: 40px;
    background-color: #37b230;
    border-color: #37b230;
    border-radius: 15px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.12);
}
.border-s{
    border-width: 2px;
    border-color: #0762ae;
}
.form-check-input:checked {
    background-color: #0762ae;
}
.text{
    text-align: center;
}
.blue{
    color: #0062ae;  
}
.borders{
    border: solid 2px #0062ae;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.caja{
    width: 150px;
    height: 41px;
    margin-left: 10px;
}
.caja2{
    width: 119px;
    height: 41px;
    margin-left: 10px;
}
.primary{
    background-color: white;
    color: #0062ae;
    border-radius: 15px;
    width: 118.6px;
    height: 40px;
    background: url("/assets/static/Icon material-cloud-download.png") no-repeat;
    background-position: 2rem 0.5rem;
    cursor:pointer;
    text-indent: 2.5rem;
}
.primary:focus{
    background: none;
    background-color: #0062ae;
    color: white;
    text-indent: 0%;
    box-shadow: none;
}
.genero{
    background-color: #159ed9;
    width: 54px;
}
.edito{
    background-color: #6835b5;
    width: 42px;
}
.activo{
    background-color: #37b230;
    width: 49px;
}
.desactivo{
    background-color: #565656;
    width: 67px;  
}
.accion{
    border-radius: 4px;
    height: 21px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.white{
    color: #fff;
    text-align: center;
    font-size: 12px;
}
.table{
    vertical-align: top;
}
.shadows{
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.075)!important;
}
.shadows:focus{
    box-shadow: none;
}

::ng-deep.p-paginator{
    border-width: 1px !important;
    padding: 0 !important;
    border-radius: 3px !important;
    background: #f7f8fa;;
    border: none;
}

::ng-deep.p-paginator ::ng-deep.p-paginator-pages ::ng-deep.p-paginator-page.p-highlight {
background: #0062af;
border-color: #0062af;
color: #ffffff;
}